.header {
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  background: linear-gradient(
    347deg,
    var(--blue1-color) 0%,
    var(--blue2-color) 100%
  );
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: " a b c";
  box-shadow: 0 0 0.7rem 0.4rem #000;
}

.title {
  margin: 2rem 0;
  grid-area: b;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title p {
  letter-spacing: 0.9rem;
  margin: 0.5rem 1.4rem;
}